<h2>Créer un nouveau chaton</h2>
<form (submit)="createKitten()">
  <label>Nom:</label>
  <input type="text" [(ngModel)]="newKitten.name" name="name" required>

  <label>Race:</label>
  <input type="text" [(ngModel)]="newKitten.race" name="race" required>

  <label>Date de naissance:</label>
  <input type="date" [(ngModel)]="newKitten.birthDate" name="birthDate" required>

  <label>Photo:</label>
  <input type="url" [(ngModel)]="newKitten.photo" name="photo" placeholder="https://">

  <button type="submit">Ajouter chaton</button>
</form>
