<h2>Liste de chatons</h2>

<app-create-kitten (sendKittenToParent)="onReceiveNewKitten($event)"></app-create-kitten>

<div class="kitten-list">
  <h2>Liste de chatons</h2>
  <div class="kitten-card-container">
    <div *ngFor="let kitten of kittens" class="kitten-card">
      <img [src]="kitten.photo" alt="{{kitten.name}}"/>
      <div class="kitten-description">
        <h3>{{kitten.name}}</h3>
        <p>{{kitten.race}}</p>
        <p>{{kitten.birthDate | date: 'mediumDate'}}</p>
      </div>
    </div>
  </div>
</div>
